package layouts

templ Base() {
    <!DOCTYPE html>
    <html lang="en">
        <head>
        <meta charset="UTF-8" />
        <title>μln.sh</title>
        <meta name="viewport" content="width=device-width,initial-scale=1" />
        <meta name="description" content="" />
        <link rel="icon" href="favicon.png">
    </head>
    <body>
        { children... }
    </body>
    </html>
}
